GMAIL_USER=changeme
GMAIL_APP_PASSWORD=changeme
LEADS_TO_EMAIL=cookieshinobu380@gmail.com
LEADS_FROM_EMAIL=changeme

NEXT_PUBLIC_WEATHER_BEACH_MIN_TEMP=24
NEXT_PUBLIC_WEATHER_BEACH_MAX_TEMP=31
NEXT_PUBLIC_WEATHER_WALK_MIN_TEMP=16
NEXT_PUBLIC_WEATHER_WALK_MAX_TEMP=27
NEXT_PUBLIC_WEATHER_EXCURSION_MIN_TEMP=18
NEXT_PUBLIC_WEATHER_EXCURSION_MAX_TEMP=26
NEXT_PUBLIC_WEATHER_FAMILY_MIN_TEMP=22
NEXT_PUBLIC_WEATHER_FAMILY_MAX_TEMP=28
NEXT_PUBLIC_WEATHER_MAX_RAIN_PROBABILITY=35
NEXT_PUBLIC_WEATHER_MAX_WIND_SPEED=9
NEXT_PUBLIC_WEATHER_MAX_HUMIDITY=75
